<template>
  <q-page>
    <GameList :games="games"/>
  </q-page>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';
export default {
  name: 'PageIndex',
  data(){
    return {
      games: []
    }
  },
  components:{
    'GameList': () => import('components/GameList')
  },
  methods: {
    ...mapActions('game',['initState']),
    ...mapGetters('game',['getGames']),
  },
  async mounted(){
    await this.initState();
    this.games = await this.getGames();
    console.log(this.games)
  },
  created(){
    this.$q.dark.set(true);
  }
}
</script>
