<template>
    <div class="q-pa-md">
        <q-list>
            <GameItem v-for="game in games" v-bind:key="game.id" :game="game"/>
        </q-list>
    </div>
</template>

<script>
export default {
    name: 'GameList',
    props:['games'],
    components:{
        'GameItem': () => import('components/GameItem')
    }
}
</script>

<style lang="scss" scoped>
    .q-list{
        max-height: 94vh;
    }
</style>