<template>
    <div class="drawer q-pa-sm">
        <q-item-label header>{{ title }}</q-item-label>
        <div class="form">
            <q-input 
                color="white" 
                filled 
                v-model="Game.nome" 
                label="Nome" />
            <q-input
                color="white"
                v-model="Game.descricao"
                label="Descrição"
                autogrow
                filled
            />

            <q-input
                color="white"
                v-model.number="Game.nota"
                type="number"
                label="Nota"
                min=0
                max=10
                filled
            />

                <q-btn
                    class="row"
                    label="Save"
                    @click="() => insertGame(Game)" />    
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex';
export default {
    name: "GameForm",
    props:['title'],
    data(){
        return {
            Game: {
                name:'',
                descricao:'',
                nota: 0,
                url: '',
                jogado: false
            }
        }
    },
    methods: {
        ...mapActions('game',['insertGame'])
    },
};
</script>

<style lang="scss" scoped>
    .drawer{
        min-height: 87vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .q-item__label{
        text-align: center;
        color: $light;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-height: 250px;
    }

    .form .q-field{
        background-color: #6600ff;
        border-radius: 10px;
        margin-top: 10px;
    }

    .form .q-btn{
        border: 1px solid $light;
        color: $light;
        margin-top: 12px;
    }
</style>