<template>
    <q-expansion-item
    switch-toggle-side
        expand-icon-toggle
        expand-separator
    >
        <template v-slot:header>

            <q-item-section>
                <div class="col items-center">
                    <label :class="game.jogado? 'jogado':'naoJogado'"> {{ game.nome }} </label>
                    <br/>
                    <label :class="game.nota>=7? 'positivo': 'negativo'"> {{ game.nota }} </label>
                </div>
            </q-item-section>

            <q-item-section side>
            <div class="row items-center">
                <q-btn color="positive" @click="updateGame(game)" size="12px" flat dense round icon="done" />
                <q-btn color="negative" @click="deleteGame(game.id)" size="12px" flat dense round icon="delete" />
            </div>
            </q-item-section>
        </template>
        <q-card>
            <q-card-section class="">
                {{game.descricao}}
            </q-card-section>
        </q-card>
    </q-expansion-item>

</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';
export default {
    name:  'GameItem',
    props:['game'],
    methods:{
        ...mapActions('game',['deleteGame','updateGame']),
        checkJogado(id, game){
            this.updateGame(id, game);
        }
    }
}
</script>

<style lang='scss'>
    .jogado{
        text-decoration:line-through;
    }

    .naoJogado{
        text-decoration:none;
    }

    .positivo{
        color: $positive;
    }

    .negativo{
        color: $negative;
    }
</style>