<template>
  <q-layout view="hHh Lpr lFf">
    <q-header bordered>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          :icon="leftDrawerOpen ? 'close':'add'"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title class="text-center">Game List</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above>
      <GameForm title="Add Game Here"/>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import '../css/quasar.variables.scss'

export default {
  name: "MainLayout",

  components: {
    GameForm: () => import("components/GameForm")
  },

  data() {
    return {
      leftDrawerOpen: false,
    }
  }
};
</script>

<style lang="scss">
  .q-header{
    background: transparent;
    border: none;
  }

  .q-drawer{
    background: transparent;
    border: none;
  }

  .q-page-container{
    background: linear-gradient(to right, #111011, #6600ff);
  }
</style>
